# JUMPlus Python Project 2

## Marvel Dataset Basic Operations

## by Nicholas Crossman

As before, we import `pandas` and load the data in from `characters_stats.csv`.

In [2]:
import pandas as pd

data = pd.read_csv("characters_stats.csv")

Now that we've read the `.csv`, let's show the first 5 records and get the number of rows and columns.

In [5]:
data.head().style

In [6]:
info = data.shape
rows = str(info[0])
cols = str(info[1])
print("Rows: " + rows)
print("Columns: " + cols)

Rows: 611
Columns: 9

The first 5 entries show `good` and `bad` as possible values for the `Alignment` variable, but we should check to make sure. 

The `value_counts()` method will show us what options are available.

In [10]:
alignments = data['Alignment'].value_counts()
print(alignments)

good       432
bad        165
neutral     11
Name: Alignment, dtype: int64

Here we can see there are three possible values: good, bad, and neutral.